/*
body {
    background-color: #fff;
    font-size: 14 px;
}
 

/* забираємо крапки зі списку */
/* 
ul {
    list-style: none;
}
*/

/* 
Основной текст страницы #757575
фоновый цвет #fff
цвет логотипа #000000
цвет акцента #2196F3
фон героя #E5E5E5
текст на темном фоне #FFFFFF
текст ссылок в футере rgba(255, 255, 255, 0.6)
*/










/* heder */



/* hero */






/* section */




/* Team section */





/* footer */



/* portfolio */

